<head>
  <link rel="stylesheet" type="text/css" href="select.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <script>
    const logout = () => {window.location.href="http://localhost:3000/logout"};
    const move = () => {window.location.href="http://localhost:3000/sugang"};
  </script>
</head>
<div class="header">
  <div class="header-logo">
    <div class="logo"><img
        src="./img/inhaLogo.png"
        alt="INHA UNIVERSITY"
      /></div>
    <span class="logo-text">수강신청</span>
  </div>

  <div class="header-info">
    <span class="header-info_title">2021 교육과정 개편 관련 경과조치 안내 (<span
        class="header-info_title_strong"
      >2020 이전 학번 필수 참조</span>) -> 자세히보기</span>
  </div>
</div>

<div class="content">
  <div class="side">
    <div class="side-frame">
      <div class="side-frame_id">
        <div class="userinfo">{{user}}</div>
        <button class="logout" onclick="logout()">Logout</button>
      </div>
    </div>
    <div class="side-menu">
      <div class="side-menu_list">
        <span>수강안내</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>강의진단</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list" onclick="move()">
        <span>수강신청</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>성적확인</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>계절학기</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>교과조회</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>참고 Link</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>개인정보처리방침</span>
        <span class="material-icons">add</span>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main-top">
      <span class="main-top_title">2022학년 2학기 수강신청</span>
      <div class="main-top_table">
        <table>
          <tr style="background-color: #0770bb;">
            <td class="main-top_table_head_first">학수 번호</td>
            <td class="main-top_table_head_second">수업명</td>
            <td class="main-top_table_head_third">교수</td>
            <td class="main-top_table_head_fourth">수강 인원</td>
            <td class="main-top_table_head_fifth">강의실 번호</td>
            <td class="main-top_table_head_sixth">개설 학과 코드</td>
            <td class="main-top_table_head_seventh">여석</td>
            <td class="main-top_table_head_admit">신청하기</td>
          </tr>
          {{#each Class}}
            <td class="main-top_table_body_first">{{C_id}}</td>
            <td class="main-top_table_body_second">{{C_name}}</td>
            <td class="main-top_table_body_third">{{professor}}</td>
            <td class="main-top_table_body_fourth">{{number_of_participants}}</td>
            <td class="main-top_table_body_fifth">{{R_id}}</td>
            <td class="main-top_table_body_sixth">{{D_id}}</td>
            <td class="main-top_table_body_seventh">{{availability}}</td>
            <form method="post">
              <td class="main-top_table_body_admit">
                <button 
                  class ="admit"
                  name="admitBtn"  
                  type="submit" 
                  value="{{C_id}}" 
                  formaction="/sugang"
                >
                수강신청
                </button>
              </td>
            </form>
          </tr>
          {{/each}}
        </table>
        
      </div>
    </div>
  </div>
</div>